main {
    height: 100%;
    padding-left: 70px;
    padding-top: 60px;
    z-index: 2;
}

main .container {
    padding-top: 20px;
    height: 100%;
    margin: 0px 100px 0px 100px;
}

main .container .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

main .container #titulo {
    margin-top: 10px;
}


main .container .cabecalho .navegacao {
    font-size: 14px;
}


main .corpo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: 1px solid var(--cinzaclaro2);

}

main .corpo .titulo {
    margin: 15px;
}

main .corpo .tabela-historico {
    width: auto;
    margin: 15px;
    overflow: auto;
}

main .corpo table {
    border: 1px solid var(--cinzaclaro2);
    border-bottom: none;
    border-radius: 3px;
}

main .corpo table td,
main .container table th {
    align-items: center;
    justify-content: center;
    height: 30px;
    border-bottom: 1px solid var(--cinzaclaro2);
    padding: 8px;
}


main .corpo table tr:nth-child(2n + 1) {
    background: var(--cinzaclaro3)
}

main .corpo table {
    border-collapse: separate;
    border-spacing: 0px;
}

main .corpo table th {
    font-weight: 500;
}

main .corpo table td span {
    width: 98%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

main .corpo table td:hover {
    background-color: var(--cinzaclaro3);
}

main .corpo table .quantidade {
    display: flex;
    align-items: center;
}

main .corpo table .quantidade .material-symbols-outlined {
    font-size: 22px;
    width: auto;
    margin: 8px;
}

main .corpo table .editor {
    width: 20%;
}

main .corpo table .data {
    width: 12%;
}

main .corpo table .motivo {
    width: 40%;
}

@media(max-width: 750px) {
    main {
        padding-left: 0px;
    }

    main .container {
        margin: 0px 30px 0px 100px;
    }

}