main {
    height: 100%;
    padding-left: 70px;
    padding-top: 60px;
    z-index: 2;
}

main .container {
    padding-top: 20px;
    height: 100%;
    margin: 0px 100px 0px 100px;
}

main .container .cabecalho .navegacao {
    font-size: 14px;
}

main .corpo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 3px;
    border: 1px solid var(--cinzaclaro2);
}

main .corpo .titulo {
    margin: 15px;
}

main .container .cabecalho .pesquisa {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main .container app-input {
    width: 100%;
}

main .container .cabecalho .pesquisa .add {
    width: 43px;
    height: 43px;
    min-width: 43px;
    border-radius: 5px;
    margin-left: 20px;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .container .cabecalho .pesquisa .add:hover {
    background-color: var(--azulclaro);
}

main .container .cabecalho .pesquisa .material-symbols-outlined {
    color: var(--branco);
}

main .container .datas {
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--cinzaclaro2);
}

main .container .datas .retirada,
main .container .datas .devolucao {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container .datas .retirada {
    margin-bottom: 15px;
}

main .container .datas .titulo {
    margin-left: 5px;
    width: 100px;
}

main .container .datas .inputs {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .container .datas label {
    width: 100%;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    padding: 5px 20px;
    margin-left: 15px;
    height: 40px;
}

main .container .datas label input {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    outline: none;
}

main .container .rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
    height: 50px;
}

main .container .rodape button {
    width: 165px;
    height: 45px;
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

main .container .rodape button:hover {
    background-color: var(--azulclaro);
}


@media(max-width: 750px) {
    main {
        padding-left: 0px;
    }
    main .container {
        margin: 0px 30px 0px 100px;
    }

}