<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Inserir reserva</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Inserir reserva</span></div>

                    <div class="pesquisa">

                        <div class="input">
                            <input type="text" placeholder="Pesquise aqui...">
                            <span class="material-symbols-outlined">
                            search
                        </span>
                        </div>

                        <span class="material-symbols-outlined">
                        filter_alt
                    </span>
                    </div>
                </div>

                <div class="produtos">
                    <div class="titulo"><span>Produtos adicionados:</span></div>
                    <div class="produto">
                        <div class="informacoes">

                            <div class="imagem">
                                <img src="https://cdn.awsli.com.br/600x700/468/468162/produto/19414409/106e8da5c7.jpg" alt="">
                            </div>
                            <div class="nome">Relé</div>
                        </div>

                        <div class="acoes">
                            <div class="quantidade">
                                <span class="titulo">Quantidade</span>
                                <span class="menos">-</span>
                                <span class="numero">5</span>
                                <span class="mais">+</span>
                                <span class="material-symbols-outlined">delete</span>
                            </div>
                        </div>
                    </div>

                    <div class="produto">
                        <div class="informacoes">

                            <div class="imagem">
                                <img src="https://cdn.awsli.com.br/600x700/468/468162/produto/19414409/106e8da5c7.jpg" alt="">
                            </div>
                            <div class="nome">Relé</div>
                        </div>

                        <div class="acoes">
                            <div class="quantidade">
                                <span class="titulo">Quantidade</span>
                                <span class="menos">-</span>
                                <span class="numero">5</span>
                                <span class="mais">+</span>
                                <span class="material-symbols-outlined">delete</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="datas">
                    <div class="retirada">
                        <span class="titulo">Retirada</span>
                        <div class="inputs">
                            <label>
                                <input type="date">
                            </label>
                            <label>
                                <input type="time">
                            </label>
                        </div>

                    </div>
                    <div class="devolucao">
                        <span class="titulo">Devolução</span>
                        <div class="inputs">
                            <label>
                                <input type="date">
                            </label>
                            <label>
                                <input type="time">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="rodape">
                    <button>Finalizar</button>
                </div>

            </div>

        </div>
    </main>
</body>
<script src="../src/darkmode.js"></script>


</html>