<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>
    <app-alertas *ngIf="alerta" [alerta]="alertar"></app-alertas>


    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Inserir reserva</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Inserir reserva</span></div>

                    <div class="pesquisa">

                        <app-input (adicionarItem)="adicionarItem($event)"></app-input>

                        <div class="add">
                            <span class="material-symbols-outlined">
                                add
                            </span>
                        </div>
                    </div>
                </div>

                <div class="produtos">
                    <div class="titulo"><span>Produtos adicionados:</span></div>

                    <div class="produto" *ngFor="let produto of produtos">
                        <div class="informacoes">

                            <div class="imagem">
                                <img [src]="produto.imagem">
                            </div>
                            <div class="nome">{{produto.nome}}</div>
                        </div>

                        <div>


                        </div>
                        <div class="acoes">
                            <div class="quantidade">
                                <span class="menos" (click)="menos()">-</span>
                                <input type="number" class="numero" [(ngModel)]="quantidade" value="0">
                                <span class="mais" (click)="mais()">+</span>
                                <span class="titulo">Un.</span>
                                <span class="material-symbols-outlined" (click)="removerItem($event)">delete</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="datas">
                    <div class="retirada">
                        <span class="titulo">Retirada</span>
                        <div class="inputs">
                            <label>
                                <input type="date">
                            </label>
                            <label>
                                <input type="time">
                            </label>
                        </div>

                    </div>
                    <div class="devolucao">
                        <span class="titulo">Devolução</span>
                        <div class="inputs">
                            <label>
                                <input type="date">
                            </label>
                            <label>
                                <input type="time">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="rodape">
                    <button (click)="cadastrarReserva()">Finalizar</button>
                </div>

            </div>

        </div>
    </main>
</body>

</html>