<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../src/icone.png" type="image/x-icon">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <title>Visão Geral</title>
</head>

<body>

    <app-modal-adicao *ngIf="modaldevolucao" item="4" (fechou)="fechou($event)"></app-modal-adicao>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Detalhes Reservas</span></div>
            </div>

            <div class="corpo">
                <div class="minhasreservas">
                    <div class="reserva">
                        <div class="header-reserva">
                            <div class="titulo">Reserva Nº 1</div>
                            <div><button class="cancelar">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button></div>
                        </div>
                        <div class="pessoa"><span *ngIf="permissao == true">Professor: Romário</span><span
                                *ngIf="permissao == false">Professor: Romário</span></div>
                        <div class="horario">
                            <div class="data"><span>Retirar em: 23/12/2022 às</span></div>
                            <div class="hora">18:00</div>
                        </div>
                        <div class="detalhes">
                            <div class="reservafeita">
                                <div class="data"><span>Reserva feita em: 23/12/2022 às</span></div>
                                <div class="hora">18:00</div>
                            </div>
                        </div>


                        <div class="produtos">
                            <div class="titulo">Produtos:</div>
                            <div class="produto" *ngFor="let item of produtos">
                                <div class="informacoes">
                                    <div class="imagem">
                                        <img [src]="item.imagem"
                                            alt="Imagem do produto">
                                    </div>
                                    <div class="nome">{{item.nome}}
                                    </div>
                                </div>

                                <div class="acoes">
                                    <div class="localizacao">Localização: {{item.localizacao}}</div>

                                    <div class="opcao">{{item.descartavel}}</div>

                                    <div class="quantidade">{{item.unidades}} Unidades</div>

                                    <div *ngIf="item.baixa == false">
                                        <button class="baixa" *ngIf="permissao" (click)="darBaixa(item)">Dar baixa</button>
                                    </div>

                                    <div *ngIf="item.baixa == true">
                                        <button class="baixa" *ngIf="permissao" (click)="devolver(item)">Devolver</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>



</html>