<html>

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>
        <div class="container">
            <app-cabecalho></app-cabecalho>
            <app-filtro></app-filtro>

            <div class="corpo">
                    <app-item></app-item>
                    
             
                <div class="rodape">
                    <div class="paginacao">
                        <dl>
                            <dd class="atual">1</dd>
                            <dd>2</dd>
                            <dd>3</dd>
                            <dd>4</dd>
                            <dd>
                                <span class="material-symbols-outlined">
                                    chevron_right
                                </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>