a {
    text-decoration: none;
}

main {
    height: 100%;
    padding-left: 70px;
    padding-top: 60px;
    z-index: 2;
}

main .container {
    padding-top: 20px;
    height: 100%;
    margin: 0px 100px 0px 100px;
    display: block;
    justify-content: space-between;
}

main .corpo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding-bottom: 50px;
    border-radius: 3px;
}

main .corpo .rodape {
    height: 40px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

main .corpo .rodape .paginacao {
    height: 100%;
    width: 250px;
    border-radius: 3px;
}

main .corpo .rodape .paginacao dl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .corpo .rodape .paginacao dl dd {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    cursor: pointer;
}

main .corpo .rodape .paginacao dl dd:hover {
    background-color: var(--hover);
}

main .corpo .rodape .paginacao dl .atual {
    background-color: var(--azul);
    color: var(--branco);
}

main .corpo .rodape .paginacao dl .atual:hover {
    background-color: var(--azulclaro);
}

@media(max-width: 1150px) {
    main .corpo .produto {
        width: 48.7%;
    }
}

@media(max-width: 750px) {
    main {
        padding-left: 0px;
    }
    main .container {
        margin: 0px 30px 0px 100px;
    }
    main .container .cabecalho .pesquisa button {
        display: none;
    }
    main .container .cabecalho .pesquisa .input {
        width: 100%;
    }
    main .container .cabecalho .pesquisa .material-symbols-outlined {
        margin: 0px 10px 0px 10px;
    }
}