<html>

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>
        <div class="container">
            <app-cabecalho (inputInformacoes)="inputInformacoes($event)" (posicaoTabelas)="receberPedido($event)"  (ordenardarTabela)="ordernarTabela($event)"></app-cabecalho>

            <div class="corpo">
                <app-item *ngIf="posicao == true" [buscar]="buscaInput" [ordernado]="tabelaOrdenada"></app-item>
                <app-item-grid *ngIf="posicao == false" [buscar]="buscaInput" [ordernado]="tabelaOrdenada"></app-item-grid>


                <!-- <div class="rodape">
                    <div class="paginacao">
                        <dl>
                            <dd class="atual">1</dd>
                            <dd>2</dd>
                            <dd>3</dd>
                            <dd>4</dd>
                            <dd>
                                <span class="material-symbols-outlined">
                                    chevron_right
                                </span>
                            </dd>
                        </dl>
                    </div>
                </div> -->
            </div>
        </div>
    </main>

</body>

</html>