<div class="filtro" *ngIf="situacaofiltro">
    <div class="header">
        <span>Filtro</span>

        <div class="acoes">
            <p id="limpar" class="material-symbols-outlined">
                replay
            </p>

            <p class="material-symbols-outlined" (click)="filtro()">
                close
            </p>
        </div>

    </div>


    <div class="filtros">
        <div class="classificacao">
            <div class="opcoes" *ngIf="urlAtual == '/visaogeral'">
                <div *ngFor="let index of classificacoesProdutos" class="opcao">
                    <label class="check">
          <input type="checkbox">
          <span class="checkmark"></span>
          </label>
                    <p>{{index.nome}}</p>
                </div>
            </div>

            <div class="opcoes" *ngIf="urlAtual == '/reservas'">
                <div *ngFor="let index of classificacoesReservas" class="opcao">
                    <label class="check">
          <input type="checkbox">
          <span class="checkmark"></span>
          </label>
                    <p>{{index.nome}}</p>
                </div>
            </div>

            <div class="opcoes" *ngIf="urlAtual == '/usuario/aceitar'">
                <div *ngFor="let index of classificacoesUsuarios" class="opcao">
                    <label class="check">
          <input type="checkbox">
          <span class="checkmark"></span>
          </label>
                    <p>{{index.nome}}</p>
                </div>
            </div>

            <div class="botao">
                <button>Confirmar</button>
            </div>
        </div>
    </div>

</div>