<!DOCTYPE html>
<html lang="en">

<body>
    <app-modal-adicao *ngIf="modaldevolucao" item="4" (fechou)="fechou($event)"></app-modal-adicao>
    <app-alertas *ngIf="alerta" [alerta]="alertar"></app-alertas>

    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Detalhes Reservas</span></div>
            </div>

            <div class="corpo">
                <div class="minhasreservas">
                    <div class="reserva">
                        <div class="header-reserva">
                            <div class="titulo">Reserva Nº 1</div>
                            <div><button class="cancelar">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </button></div>
                        </div>
                        <div class="pessoa"><span *ngIf="permissao == true">Professor: Romário</span>
                            <span *ngIf="permissao == false">Professor: Romário</span>
                        </div>
                        <div class="horario">
                            <div class="data"><span>Retirar em: {{dataRetirada}} às</span></div>
                            <div class="hora">&nbsp;{{horaRetirada}}</div>
                        </div>
                        <div class="detalhes">
                            <div class="reservafeita">
                                <div class="data"><span>Devolução em: {{dataDevolucao}} às</span></div>
                                <div class="hora">&nbsp;{{horaDevolucao}}</div>
                            </div>
                        </div>


                        <div class="produtos">
                            <div class="titulo">Produtos:</div>
                            <div class="produto" *ngFor="let item of buscarProdutos(); let i = index">
                                <div class="informacoes">
                                    <div class="imagem">
                                        <img [src]="item.imagem" alt="Imagem do produto">
                                    </div>
                                    <div class="nome">{{item.nome}}
                                    </div>
                                </div>

                                <div class="acoes">
                                    <div class="localizacao">Localização: {{item.localizacao}}</div>

                                    <div class="opcao">{{item.descartavel}}</div>

                                    <div class="quantidade">{{item.quantidade}} Unidades</div>

                                    <div *ngIf="item.baixa == false">
                                        <button class="baixa" *ngIf="permissao" (click)="darBaixa(item)">Dar
                                            baixa</button>
                                    </div>

                                    <div *ngIf="item.baixa == true">
                                        <button class="baixa" *ngIf="permissao"
                                            (click)="devolver(item)">Devolver</button>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>



</html>