<div class="reserva" *ngFor="let reserva of reservas let i = index" (click)="link(reserva)">
    <div class="titulo">Reserva Nº {{i+1}}
        <div class="situacao">
            <span class="material-symbols-outlined">
                radio_button_checked
            </span>
        </div>
    </div>

    <div class="informacoes">

        <div class="horario">
            <div class="data"><span>Retirar em: {{reserva.dataRetirada}} às {{reserva.horaRetirada}} </span></div>
        </div>
        <div class="detalhes">
            <div class="reservafeita">
                <div class="data"><span>Devolução em: {{reserva.dataDevolucao}} às {{reserva.horaDevolucao}} </span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="erro" *ngIf="tamanho == 0"><span>Não há reservas cadastradas.</span></div>