.reserva {
    width: 100%;
    height: 80px;
    border: 1px solid var(--cinzaclaro2);
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.reserva:hover {
    background-color: var(--hover);
}

a {
    text-decoration: none;
    color: black;
}

.reserva .titulo {
    margin: 8px 0px 5px 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reserva .situacao .material-symbols-outlined {
    margin-right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: green !important;
}

.reserva .horario,
.reserva .pessoa {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 5px 15px;
}

.reserva .detalhes {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin: 0px 0px 5px 15px;
}

.reserva .horario,
.reserva .reservafeita {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.reserva .detalhes .verdetalhes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    cursor: pointer;
}

.reserva .detalhes .verdetalhes .expandir {
    background-color: var(--azul);
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
}

.reserva .detalhes .verdetalhes .expandir .material-symbols-outlined {
    font-size: 18px;
    color: var(--branco) !important;
}

.reserva .detalhes,
.reserva .horario,
.reserva .pessoa {
    font-size: 14px;
    height: 24px;
}

.informacoes {
    display: flex;
}



@media(max-width: 855px) {
    .informacoes span {
        font-size: 12px;
    }
}

@media(max-width: 750px) {

    .reserva .detalhes .verdetalhes .texto {
        display: none;
    }
}