<div class="reserva" *ngFor="let reserva of reservas let i = index" (click)="link()">
    <div class="titulo">Reserva Nº {{i+1}}
        <div class="situacao">
            <span class="material-symbols-outlined">
                radio_button_checked
            </span>
        </div>
    </div>

    <div class="informacoes">
        <div class="pessoa"><span *ngIf="permissao == true">Retirada por: Romário</span></div>

        <div class="horario">
            <div class="data"><span>Retirar em: 23/12/2022 às 18:00 </span></div>
        </div>
        <div class="detalhes">
            <div class="reservafeita">
                <div class="data"><span>Retirar em: 23/12/2022 às 18:00 </span></div>
            </div>
        </div>

    </div>
</div>