.cabecalho .navegacao {
    font-size: 14px;
}

.cabecalho .pesquisa {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .pesquisa .input {
    width: 75%;
    height: 25px;
    padding: 8px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho .pesquisa .input .material-symbols-outlined {
    margin: 0;
}

.cabecalho .pesquisa .input input {
    width: 90%;
    height: 100%;
    margin-left: 10px;
    border: none;
    outline: none;
    background-color: transparent;
}

.cabecalho .pesquisa .input:hover {
    background-color: var(--hover);
}

.cabecalho .pesquisa .material-symbols-outlined,
.cabecalho .pesquisa .material-symbols-rounded {
    font-size: 30px;
    color: var(--azul);
}

.cabecalho .pesquisa .material-symbols-outlined:hover,
.cabecalho .pesquisa .material-symbols-rounded:hover {
    color: var(--azulclaro);
}

.cabecalho .pesquisa button {
    width: 165px;
    height: 45px;
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.cabecalho .pesquisa button:hover {
    background-color: var(--azulclaro);
}

.cabecalho .filtro,
.cabecalho .flexibilidade {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 45px;
    height: 45px;
    margin: 0px 10px 0px 10px;
}

.ordernar-alfabeto span {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 10px 0px 10px;
    color: var(--azul);
}

app-filtro {
    position: absolute;
    margin-top: 55px;
    right: 420px;
}

@media(max-width: 750px) {
    app-filtro {
        right: 320px;
    }

}