<div class="cabecalho">
    <div class="navegacao"><span>Almoxarifado / {{local}}</span></div>

    <div class="pesquisa">

        <div class="input">
            <input type="text" placeholder="Pesquise aqui...">
            <span class="material-symbols-outlined">
                search
            </span>
        </div>

        <div class="filtro" (click)="filtro()">
            <span class="material-symbols-outlined">
                filter_alt
            </span>
        </div>

        <app-filtro *ngIf="situacaofiltro"></app-filtro>


        <button>Inserir Reservas</button>

    </div>
</div>