<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-localizacao *ngIf="situacaolocalizacao"></app-localizacao>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Cadastrar produto</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Dados gerais do produto</span></div>

                </div>

                <div class="informacoes">

                    <div class="informacoes-gerais">
                        <div class="inserir-imagem">
                            <span>Imagem</span>
                            <label for="imagem">
                                <input id="imagem" type="file" (change)="mudanca($event.target.files[0])">

                                <div class="imagem">

                                    <span class="material-symbols-outlined">
                                        add_photo_alternate
                                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="informacoes-grid">
                            <div class="nome">
                                <span>Nome</span>
                                <input type="text" [(ngModel)]="nome">
                            </div>


                            <div class="descricao">
                                <span>Características</span>
                                <textarea [(ngModel)]="detalhes"></textarea>
                            </div>


                            <div class="informacoes-flex">
                                <div class="classificacao">
                                    <span>Classificação</span>
                                    <div class="fundo">
                                        <select name="select" [(ngModel)]="classificacao">
                                            <option value="1">Materiais Elétricos</option>
                                            <option value="2">Ferramenta Mecânica</option>
                                            <option value="3">Componente Eltrônicos</option>
                                            <option value="4">Ferramenta Manual</option>
                                        </select>
                                        <div class="adicionar">
                                            <span class="material-symbols-outlined">
                                                add
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="quantidade">
                                    <span>Quantidade</span>
                                    <input type="number" [(ngModel)]="quantidade">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="informacoes-adicionais">


                        <div class="localizacao">
                            <span>Localização</span>
                            <div class="fundo">
                                <input type="text" [(ngModel)]="localizacaos">
                                <div class="adicionar" (click)="localizacao()">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="anexo">
                            <span>Anexo</span>
                            <label for="file">
                                <span class="material-symbols-outlined">
                                    attach_file
                                </span>
                                Adicionar anexo</label>
                            <input type="file" id="file">
                        </div>

                        <div class="descartavel">
                            <span>Descartavel</span>
                            <label class="botao">
                                <input type="checkbox" [disabled]="edita">
                                <span class="bola"></span>
                            </label>
                        </div>

                    </div>
                </div>

                <div class="rodape">

                    <button (click)="cadastrarProduto()">Cadastrar produto</button>
                </div>

            </div>

        </div>
    </main>
</body>

</html>