<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-alertas *ngIf="alerta" [alerta]="alertar"></app-alertas>
    <app-modal-adicao *ngIf="situacaolocalizacao" item="1" (fechou)="fechou($event)"></app-modal-adicao>
    <app-modal-adicao *ngIf="situacaoclassificacao" item="2" (fechou)="fechou($event)"></app-modal-adicao>


    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Cadastrar produto</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Dados gerais do produto</span></div>

                </div>

                <div class="informacoes">

                    <form>

                        <div class="informacoes-gerais">
                            <div class="inserir-imagem">
                                <span>Imagem</span>
                                <label for="imagem">
                                    <input id="imagem" type="file" (change)="mudanca($event.target.files[0])">

                                    <div class="imagem">

                                        <span class="material-symbols-outlined">
                                            add_photo_alternate
                                        </span>
                                    </div>
                                </label>
                            </div>

                            <div class="informacoes-grid">
                                <div class="nome">
                                    <span>Nome</span>
                                    <input type="text" [(ngModel)]="nome" name="nome">
                                </div>


                                <div class="descricao">
                                    <span>Características</span>
                                    <textarea [(ngModel)]="caracteristica" name="caracteristica"></textarea>
                                </div>


                                <div class="informacoes-flex">
                                    <div class="classificacao">
                                        <span>Classificação</span>
                                        <div class="fundo">
                                            <select name="select" [(ngModel)]="classificacao" name="classificacao">
                                                <option value="1">Materiais Elétricos</option>
                                                <option value="2">Ferramenta Mecânica</option>
                                                <option value="3">Componente Eltrônicos</option>
                                                <option value="4">Ferramenta Manual</option>
                                            </select>
                                            <div class="adicionar">
                                                <span class="material-symbols-outlined" (click)="classificacao()">
                                                    add
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="quantidade">
                                        <span>Quantidade</span>
                                        <input type="number" [(ngModel)]="quantidade" name="quantidade">
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="informacoes-adicionais">


                            <div class="localizacao">
                                <span>Localização</span>
                                <div class="fundo">
                                    <input type="text" [(ngModel)]="localizacao" name="localizacao">
                                    <div class="adicionar" (click)="situacaoLocalizacao()">
                                        <span class="material-symbols-outlined">
                                            add
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="anexo">
                                <span>Anexo</span>
                                <label for="file">
                                    <span class="material-symbols-outlined">
                                        attach_file
                                    </span>
                                    Adicionar anexo</label>
                                <input type="file" id="file" (change)="anexo($event.target.files[0])">
                            </div>

                            <div class="descartavel">
                                <span>Descartavel</span>
                                <label class="botao">
                                    <input type="checkbox" (click)="descatavel($event)" [disabled]="edita">
                                    <span class="bola"></span>
                                </label>
                            </div>

                        </div>
                    </form>

                </div>

                <div class="rodape">

                    <button (click)="cadastrarProduto()">Cadastrar produto</button>
                </div>

            </div>

        </div>
    </main>
</body>

</html>