main {
    height: 100%;
    padding-left: 70px;
    padding-top: 60px;
    z-index: 2;
}

main .container {
    padding-top: 20px;
    height: 100%;
    margin: 0px 100px 0px 100px;
}

main .container .cabecalho .navegacao {
    font-size: 14px;
}

main .corpo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 3px;
    border: 1px solid var(--cinzaclaro2);
}

main .corpo .titulo {
    margin: 15px;
}

main .container .rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
    height: 50px;
}

main .container .rodape button {
    width: 165px;
    height: 45px;
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

main .container .rodape button:hover {
    background-color: var(--azulclaro);
}

main .container .informacoes {
    margin-left: 15px;
    width: 100%;
}

main .container .informacoes .informacoes-gerais {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

main .container .informacoes .informacoes-gerais .nome,
main .container .informacoes .informacoes-gerais .detalhes,
main .container .informacoes .informacoes-gerais .descricao {
    display: grid;
    width: 100%;
    align-items: flex-start;
}

main .container .informacoes .informacoes-gerais .descricao {
    margin-top: 5px;
}

main .container .informacoes .informacoes-gerais .informacoes-grid {
    display: grid;
    margin-left: 15px;
    margin-right: 30px;
    width: 100%;
}

main .container .informacoes .informacoes-gerais .nome input,
main .container .informacoes .informacoes-gerais .detalhes input,
main .container .informacoes .informacoes-gerais .descricao textarea {
    height: 25px;
    padding: 8px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    outline: none;
    width: auto;
}

main .container .informacoes .informacoes-gerais .descricao textarea {
    height: 50px;
    resize: none
}

main .container .informacoes .inserir-imagem .imagem {
    width: 200px;
    height: 200px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--branco);
}

main .container .informacoes .inserir-imagem .imagem .material-symbols-outlined {
    color: var(--cinzaclaro2);
    font-size: 80px;
}

main .container .informacoes .informacoes-adicionais {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

main .container .informacoes .informacoes-adicionais .quantidade input,
main .container .informacoes .informacoes-adicionais .localizacao input,
main .container .informacoes .informacoes-adicionais .classificacao select {
    height: 25px;
    padding: 8px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    outline: none;
    width: 75%;
}

main .container .informacoes .informacoes-adicionais .localizacao,
main .container .informacoes .informacoes-adicionais .classificacao {
    width: 75%;
}

main .container .informacoes .informacoes-adicionais .localizacao select,
main .container .informacoes .informacoes-adicionais .classificacao select {
    height: 43px;
}

main .container .informacoes .informacoes-adicionais .localizacao .fundo,
main .container .informacoes .informacoes-adicionais .classificacao .fundo {
    display: flex;
}

main .container .informacoes .informacoes-adicionais .localizacao .fundo .adicionar,
main .container .informacoes .informacoes-adicionais .classificacao .fundo .adicionar {
    height: 41px;
    width: 43px;
    margin-left: 5px;
    background-color: var(--azul);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .container .informacoes .informacoes-adicionais .localizacao .fundo .adicionar:hover,
main .container .informacoes .informacoes-adicionais .classificacao .fundo .adicionar:hover {
    background-color: var(--azulclaro);
}

main .container .informacoes .informacoes-adicionais .localizacao .fundo .adicionar .material-symbols-outlined,
main .container .informacoes .informacoes-adicionais .classificacao .fundo .adicionar .material-symbols-outlined {
    color: var(--branco);
}

main .container .informacoes .informacoes-gerais .inserir-imagem input[type='file'] {
    display: none
}

main .container .informacoes .informacoes-adicionais .descartavel {
    display: grid;
    margin-right: 30px;
}

.botao {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
}

.botao input {
    opacity: 0;
    width: 0;
    height: 0;
}

.bola {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cinzaclaro2);
    -webkit-transition: .4s;
    transition: .4s;
}

.bola:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.bola {
    background-color: var(--azul);
}

input:checked+.bola:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media(max-width: 1000px) {
    main .container .informacoes .informacoes-gerais .nome,
    main .container .informacoes .informacoes-gerais .detalhes,
    main .container .informacoes .informacoes-gerais .descricao {
        margin-top: 15px;
        width: 95% !important;
    }
    main .container .informacoes .informacoes-gerais,
    main .container .informacoes {
        width: auto !important;
    }
    main .container .informacoes-gerais {
        display: grid !important;
    }
    main .container .informacoes .informacoes-gerais .informacoes-grid {
        margin-left: 0px;
        width: none !important;
    }
    main .container .informacoes .informacoes-adicionais {
        display: block;
    }
    main .container .informacoes .informacoes-adicionais .quantidade {
        margin-top: 10px;
    }
    main .container .informacoes .informacoes-adicionais .quantidade,
    main .container .informacoes .informacoes-adicionais .localizacao,
    main .container .informacoes .informacoes-adicionais .classificacao {
        display: grid;
        width: 95%;
        align-items: flex-start;
        margin-top: 15px;
    }
    main .container .informacoes .informacoes-adicionais .descartavel {
        margin-top: 15px;
    }
    main .container .informacoes .informacoes-adicionais .quantidade input {
        width: auto;
    }
    main .container .informacoes .inserir-imagem .imagem {
        width: 95%;
    }
    main .container .informacoes .informacoes-adicionais .localizacao input,
    main .container .informacoes .informacoes-adicionais .classificacao select {
        width: 100% !important;
    }
}

@media(max-width: 750px) {
    main {
        padding-left: 0px;
    }
    main .container {
        margin: 0px 30px 0px 100px;
    }
    main .container .rodape button {
        width: 100%;
    }
}