<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>
    
    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Cadastrar produto</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Dados gerais do produto</span></div>

                </div>

                <div class="informacoes">

                    <div class="informacoes-gerais">
                        <div class="inserir-imagem">
                            <span>Imagem</span>
                            <label for="imagem">
                                <input id="imagem" type="file">

                                <div class="imagem">

                                    <span class="material-symbols-outlined">
                                        add_photo_alternate
                                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="informacoes-grid">
                            <div class="nome">
                                <span>Nome</span>
                                <input type="text">
                            </div>


                            <div class="descricao">
                                <span>Características</span>
                                <textarea></textarea>
                            </div>

                            <div class="detalhes">
                                <span>Detalhes</span>
                                <input type="text">
                            </div>

                        </div>
                    </div>

                    <div class="informacoes-adicionais">
                        <div class="quantidade">
                            <span>Quantidade</span>
                            <input type="number">
                        </div>

                        <div class="localizacao">
                            <span>Localização</span>
                            <div class="fundo">
                                <input type="text">
                                <div class="adicionar">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="classificacao">
                            <span>Classificação</span>
                            <div class="fundo">
                                <select name="select">
                                    <option value="valor1">Materiais Elétricos</option>
                                    <option value="valor2">Ferramenta Mecânica</option>
                                    <option value="valor3">Componente Eltrônicos</option>
                                    <option value="valor4">Ferramenta Manual</option>
                                </select>
                                <div class="adicionar">
                                    <span class="material-symbols-outlined">
                                        add
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="descartavel">
                            <span>Descartavel</span>
                            <label class="botao">
                                <input type="checkbox">
                                <span class="bola"></span>
                            </label>
                        </div>

                    </div>


                </div>


                <div class="rodape">

                    <button>Cadastrar produto</button>
                </div>

            </div>

        </div>
    </main>
</body>

<script src="../../../assets/darkmode.js"></script>


</html>