<app-header></app-header>
<app-nav></app-nav>

<main>
    <div class="container">
        <div class="navegacao">
            <span>Perfil / Editar</span>
        </div>
        <div class="corpo">
            <div class="foto">
                <div class="titulo">Editar perfil</div>
                <div class="imagem">
                    <img src="" alt="">
                </div>
            </div>

            <div class="inputs">
                <div class="nome">
                    <span>Nome</span>
                    <input type="text" placeholder="Professor">
                </div>

                <div class="email">
                    <span>Email</span>
                    <input type="text" placeholder="professor@edu.org.br">
                </div>

                <div class="senha">
                    <span>Senha</span>
                    <input type="password" placeholder="123">
                </div>
            </div>
        </div>
        <div class="botao">
            <button>Salvar Alterações</button>
        </div>

    </div>
</main>