main {
    height: 100%;
    padding-left: 70px;
    padding-top: 60px;
    z-index: 2;
}

.flex{
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}

main .container {
    padding-top: 20px;
    height: 100%;
    margin: 0px 100px 0px 100px;
}

main .container .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
}

main .container #titulo{
    margin-top: 10px;
}

main .container .cabecalho .editar {
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cinzaclaro3);
    border: 1px solid var(--cinzaclaro2);
    cursor: pointer;
    margin-left: 15px;
}

main .container .adicionar .adicionar-reserva {
    width: 165px;
    height: 45px;
    min-width: 43px;
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 15px;
}

main .container .adicionar .adicionar-reserva:hover {
    background-color: var(--azulclaro);
}

main .container .adicionar {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-top: 15px;
}

main .container .cabecalho .editar:hover {
    background-color: var(--cinzaclaro3);
}

main .container .cabecalho .editar:focus {
    background-color: var(--cinzaclaro3);
}

main .container .cabecalho .navegacao {
    font-size: 14px;
}

main .container .cabecalho .acoes{
    display: flex;
    align-items: center;
}

main .container .cabecalho .historico{
    text-decoration: none;
}

main .corpo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-radius: 3px;
    border: 1px solid var(--cinzaclaro2);
}

main .corpo .titulo {
    margin: 15px;
}

main .container .rodape {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px;
    height: 50px;
}

main .container .rodape button {
    width: 165px;
    height: 45px;
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

main .container .rodape button:hover {
    background-color: var(--azulclaro);
}

main .container .informacoes {
    margin-left: 15px;
    width: auto;
}

main .container .informacoes .informacoes-gerais {
    width: 100%;
    display: flex;
    align-items: flex-start;
} 

main .container .informacoes .informacoes-gerais .nome,
main .container .informacoes .informacoes-gerais .detalhes,
main .container .informacoes .informacoes-gerais .descricao {
    display: grid;
    width: 100%;
    align-items: flex-start;
}

main .container .informacoes .informacoes-gerais .descricao {
    margin-top: 5px;
}

main .container .informacoes .informacoes-gerais .informacoes-grid {
    display: grid;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}

main .container input:disabled,
main .container textarea:disabled {
    background-color: var(--cinzaclaro3);
}

.checar-descartavel:disabled .bola {
    cursor: not-allowed;
}

main .container select:disabled {
    background-color: var(--cinzaclaro3);
    opacity: 100% !important;
}

main .container .informacoes .informacoes-gerais .nome input,
main .container .anexo label,
main .container .informacoes .informacoes-gerais .descricao textarea {
    height: 25px;
    padding: 8px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    outline: none;
    width: auto;
}

main .container .anexo label {
    display: flex;
    align-items: center;
    margin-right: 15px;
    width: 100%;
}

main .container .anexo input {
    display: none;
}

main .container .informacoes .informacoes-gerais .descricao textarea {
    height: 50px;
    resize: none
}

main .container .informacoes .inserir-imagem .imagem-editar {
    width: 200px;
    height: 200px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--branco) !important;
}

main .container .informacoes .informacoes-gerais .inserir-imagem input[type='file'] {
    display: none
}


main .container .informacoes .inserir-imagem .imagem .material-symbols-outlined {
    color: var(--cinzaclaro2);
    font-size: 80px;
}

main .container .informacoes .inserir-imagem .imagem {
    width: 200px;
    height: 200px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--cinzaclaro3);
}

main .container .informacoes .inserir-imagem .imagem-editar .material-symbols-outlined {
    color: var(--cinzaclaro2);
    font-size: 80px;
}

main .container .informacoes .inserir-imagem .imagem img {
    font-size: 80px;
    max-width: 200px;
    height: 90%;
    border-radius: 3px;
}

main .container .informacoes .informacoes-gerais .informacoes-flex {
    display: flex;
}


main .container .informacoes .informacoes-adicionais {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 15px;
}

main .container .informacoes .classificacao select {
    width: 100%;
}

main .container .informacoes .classificacao select {
    height: 43px !important;
}

main .container .informacoes .quantidade {
    margin-left: 20px;
    margin-right: 20px;
    width: 50%;
}

main .container .informacoes .quantidade input,
main .container .informacoes .informacoes-adicionais .localizacao input,
main .container .informacoes .classificacao select {
    height: 25px;
    padding: 8px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    outline: none;
    width: 100%;
}

main .container .informacoes .classificacao {
    width: 100%;
}

main .container .informacoes .informacoes-adicionais .localizacao,
main .container .informacoes .informacoes-adicionais .anexo {
    width: 50%;
}

main .container .informacoes #anexo-ativa {
    background-color: var(--cinzaclaro3);
}

main .container .informacoes .informacoes-adicionais .anexo {
    margin-left: 40px;
    margin-right: 50px;
}

main .container .informacoes .classificacao select {
    height: 43px;
    -webkit-appearance: none !important;
}

main .container .informacoes .informacoes-adicionais .descartavel {
    display: grid;
}

.botao {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 25px;
}

.botao input {
    opacity: 0;
    width: 0;
    height: 0;
}

input:disabled~.bola {
    cursor: not-allowed;
}

.bola {
    border-radius: 34px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cinzaclaro2);
    -webkit-transition: .4s;
    transition: .4s;
}

.bola:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.bola {
    background-color: var(--azul);
}

input:checked+.bola:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

@media(max-width: 1000px) {
    main .container .informacoes {
        width: 100% !important;
    }

    main .container .informacoes .informacoes-gerais .nome,
    main .container .informacoes .informacoes-gerais .detalhes,
    main .container .informacoes .informacoes-gerais .descricao,
    main .container .informacoes .informacoes-flex{
        margin-top: 15px;
        width: 95% !important;
    }

    main .container .informacoes .informacoes-adicionais{
        width: 95%;
    }

    main .container .informacoes .informacoes-adicionais .anexo,
    main .container .informacoes .informacoes-adicionais .anexo label{
        margin-left: 0px;
        margin-right: 0px !important;
        width: auto;
    }

    main .container .informacoes .informacoes-gerais,
    main .container .informacoes {
        width: auto !important;
    }

    main .container .informacoes-gerais {
        display: grid !important;
    }

    main .container .informacoes .informacoes-gerais .informacoes-grid {
        margin-left: 0px;
        width: none !important;
    }

    main .container .informacoes .informacoes-adicionais {
        display: block;
    }

    main .container .informacoes .informacoes-adicionais {
        margin-right: 0px !important;
    }

    main .container .informacoes .quantidade,
    main .container .informacoes .informacoes-adicionais .localizacao,
    main .container .informacoes .classificacao {
        display: grid;
        width: 100%;
        align-items: flex-start;
        margin-top: 15px;
        margin-right: 0px;
    }

    main .container .informacoes .informacoes-adicionais .descartavel {
        margin-top: 15px;
    }

    main .container .informacoes .quantidade input {
        width: auto;
    }

    main .container .informacoes .inserir-imagem .imagem {
        width: 95%;
    }

    main .container .informacoes .informacoes-adicionais .localizacao input {
        width: auto !important;
    }
}

@media(max-width: 750px) {
    main {
        padding-left: 0px;
    }

    main .container {
        margin: 0px 30px 0px 100px;
    }

    main .container .rodape button {
        width: 100%;
    }
}