<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-modal-adicao title="aaaa" item="3" *ngIf="salvar" (fechou)="fechou($event)"></app-modal-adicao>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Dados gerais do produto</span></div>
            </div>

            <div class="corpo" *ngFor="let item of produtos">

                <div class="cabecalho" id="titulo">

                    <div class="titulo"><span>Dados gerais do produto</span></div>

                    <div class="acoes">
                        <a *ngIf="buscarUsuario()" class="historico" routerLink="historico">

                            <button class="editar">
                                <span class="material-symbols-outlined">
                                    history
                                </span>
                            </button>
                        </a>


                        <button *ngIf="buscarUsuario()" class="editar">
                            <span class="material-symbols-outlined" (click)="editar()">
                                edit
                            </span>
                        </button>
                    </div>
                </div>

                <div class="informacoes">

                    <div class="informacoes-gerais">
                        <div *ngIf="edita == true" class="inserir-imagem">
                            <span>Imagem</span>

                            <div class="imagem">
                                <img [src]="item.imagem" alt="">
                            </div>
                        </div>

                        <div *ngIf="edita == false" class="inserir-imagem">
                            <span>Imagem</span>
                            <label for="imagem">
                                <input id="imagem" type="file" (change)="mudanca($event.target.files[0])">

                                <div class="imagem-editar">

                                    <span class="material-symbols-outlined">
                                        add_photo_alternate
                                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="informacoes-grid">
                            <div class="nome">
                                <span>Nome</span>
                                <input id="name" type="text" [value]="item.nome" [disabled]="edita">
                            </div>


                            <div class="descricao">
                                <span>Características</span>
                                <textarea [value]="item.caracteristica" [disabled]="edita"></textarea>
                            </div>


                            <div class="informacoes-flex">
                                <div class="classificacao">
                                    <span>Classificação</span>
                                    <div class="fundo">
                                        <select name="select" [value]="item.classificacao" [disabled]="edita">
                                            <option value="1">Materiais Elétricos</option>
                                            <option value="2">Ferramenta Mecânica</option>
                                            <option value="3">Componente Eltrônico</option>
                                            <option value="4">Ferramenta Manual</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="quantidade">
                                    <span>Quantidade</span>
                                    <input type="number" [value]="item.quantidade" [disabled]="edita">
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="informacoes-adicionais">

                        <div class="localizacao">
                            <span>Localização</span>
                            <input type="text" [placeholder]="item.localizacao" [value]="item.localizacao"
                                [disabled]="edita">
                        </div>

                        <div *ngIf="edita" class="anexo">
                            <span>Anexo</span>
                            <label for="file" id="anexo-ativa">
                                <span class="material-symbols-outlined">
                                    attach_file
                                </span>
                                Abrir anexo
                                Anexo
                            </label>
                        </div>

                        <div *ngIf="edita == false" class="anexo">
                            <span>Anexo</span>
                            <label for="file">
                                <span class="material-symbols-outlined">
                                    attach_file
                                </span>
                                Anexo</label>
                            <input type="file" id="file" [disabled]="edita">
                        </div>


                        <div class="descartavel">
                            <span>Descartavel</span>
                            <label class="botao">
                                <input type="checkbox" [disabled]="edita" [checked]="item.descartavel">
                                <span class="bola"></span>
                            </label>
                        </div>

                    </div>

                </div>

                <div class="flex">
                    <img class="icone-anexo" src="./assets/anexos/excel.png" alt="">
                    <img class="icone-anexo" src="./assets/anexos/word.png" alt="">
                    <img class="icone-anexo" src="./assets/anexos/zip.png" alt="">
                    <img class="icone-anexo" src="./assets/anexos/rar.png" alt="">
                    <img class="icone-anexo" src="./assets/anexos/pdf.png" alt="">



                    <div class="adicionar">
                        <button *ngIf="edita == false" class="adicionar-reserva" (click)="salvarEdicao()">Salvar
                            edições</button>
                        <button *ngIf="edita" class="adicionar-reserva">Adicionar à reserva</button>
                    </div>
                </div>
            </div>
        </div>


    </main>
</body>

</html>