<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Dados gerais do produto</span></div>
            </div>

            <div class="corpo" *ngFor="let item of produtos">

                <div class="cabecalho">
                    <div class="titulo"><span>Dados gerais do produto</span></div>
                    <div class="editar">
                        <span class="material-symbols-outlined" (click)="editar()">
                            edit
                        </span>
                    </div>
                </div>

                <div class="informacoes">

                    <div class="informacoes-gerais">
                        <div class="inserir-imagem">
                            <span>Imagem</span>

                            <div class="imagem">
                                <img [src]="item.IMAGEM" alt="">
                            </div>
                        </div>

                        <div class="informacoes-grid">
                            <div class="nome">
                                <span>Nome</span>
                                <input id="name" type="text" [placeholder]="item.NOME" [disabled]="edita">
                            </div>


                            <div class="descricao">
                                <span>Características</span>
                                <textarea [placeholder]="item.CARACTERISTICAS" [disabled]="edita"></textarea>
                            </div>

                            <div class="detalhes">
                                <span>Detalhes</span>
                                <input type="text" [placeholder]="item.DETALHES" [disabled]="edita">
                            </div>

                        </div>
                    </div>

                    <div class="informacoes-adicionais">
                        <div class="quantidade">
                            <span>Quantidade</span>
                            <input type="number" [placeholder]="item.QUANTIDADE" [disabled]="edita">
                        </div>

                        <div class="localizacao">
                            <span>Localização</span>
                            <input type="text" [placeholder]="item.LOCALIZACAO" [disabled]="edita">
                        </div>

                        <div class="classificacao">
                            <span>Classificação</span>
                            <div class="fundo">
                                <select name="select" [disabled]="edita">
                                    <option value="valor1">{{item.CLASSIFICACAO}}</option>
                                </select>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </main>
</body>

</html>