<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Dados gerais do produto</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Dados gerais do produto</span></div>

                </div>

                <div class="informacoes">

                    <div class="informacoes-gerais">
                        <div class="inserir-imagem">
                            <span>Imagem</span>
                        
                                <div class="imagem">
                                    <img src="https://i.imgur.com/rOhhM3b.png" alt="">
                                </div>
                        </div>

                        <div class="informacoes-grid">
                            <div class="nome">
                                <span>Nome</span>
                                <input type="text" placeholder="Relé" disabled>
                            </div>


                            <div class="descricao">
                                <span>Características</span>
                                <textarea placeholder="É um interruptor eletromecânico projetado por Michael Faraday na década de 1830." disabled></textarea>
                            </div>

                            <div class="detalhes">
                                <span>Detalhes</span>
                                <input type="text" placeholder="Grande e bonito" disabled>
                            </div>

                        </div>
                    </div>

                    <div class="informacoes-adicionais">
                        <div class="quantidade">
                            <span>Quantidade</span>
                            <input type="number" placeholder="153" disabled>
                        </div>

                        <div class="localizacao">
                            <span>Localização</span>
                                <input type="text" placeholder="P2C5A1" disabled>
                        </div>

                        <div class="classificacao">
                            <span>Classificação</span>
                            <div class="fundo">
                                <select name="select" disabled>
                                    <option value="valor1">Materiais Elétricos</option>
                                </select>
                            </div>
                        </div>

                    </div>


                </div>

            </div>

        </div>
    </main>
</body>

<script src="../src/darkmode.js"></script>


</html>