.produto {
    width: 19.48%;
    height: 280px;
    display: inline-flex;
    justify-content: space-around;
    border: 1px solid var(--cinzaclaro2);
    margin-bottom: 10px;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.produto:hover{
    background-color: var(--hover);
}

.produto .imagem,
.produto .informacoes .quantidade,
.produto .informacoes .quantidade-produto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.produto .imagem img {
    height: 170px;
}

.produto .informacoes {
    margin-left: 10px;
    height: 100px;
}

.produto .informacoes .titulo {
    width: 100%;
    font-size: 18px;
    height: 20px;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    font-weight: 500;
}

.produto .informacoes .descricao {
    font-size: 12px;
    height: 47px;
    padding-right: 10px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.produto .informacoes .quantidade {
    margin: 5px;
    border-radius: 3px;
}

.produto .informacoes .quantidade-produto{
    display: flex;
    justify-content: end;
    height: 20px;
    margin-right: 10px;
}

.rodape {
    height: 40px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rodape .paginacao {
    height: 100%;
    width: 250px;
    border-radius: 3px;
}

.rodape .paginacao dl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape .paginacao dl dd {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    cursor: pointer;
}

.rodape .paginacao dl dd:hover {
    background-color: var(--cinzaclaro3);
}

.rodape .paginacao dl .atual {
    background-color: var(--azul);
    color: var(--branco);
}

.rodape .paginacao dl .atual:hover {
    background-color: var(--azulclaro);
}

.erro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
}

@media(max-width: 1400px) {
    .produto {
        width: 32.5%;
    }
}

@media(max-width: 1150px) {
    .produto {
        width: 48.7%;
    }
}

@media(max-width: 900px) {
    .produto {
        width: 100%;
    }

    .rodape {
        justify-content: center;
    }
}
