<div class="produto" *ngFor="let index of lista" (click)="item()">
  <div >
      <div class="imagem">
          <img src="https://i.imgur.com/rOhhM3b.png"
              alt="">
      </div>
      <div class="informacoes">
          <p class="titulo">Relé</p>
          <p class="descricao">É um interruptor eletromecânico projetado por Michael Faraday na
              década
              de 1830.</p>

          <div class="quantidade-produto">
              <p>Quantidade: </p>
              <div class="quantidade">153</div>
          </div>
      </div>
  </div>
</div>