.produto {
    width: 19.48%;
    height: 250px !important;
    display: inline-block;
    border: 1px solid var(--cinzaclaro2);
    margin-bottom: 10px;
    margin: 2px;
    border-radius: 3px;
    cursor: pointer;
}

.produto-carregando {
    position: relative;
    overflow: hidden;
    background-color: var(--cinzaclaro3);
}

.produto-carregando::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: carregando 2s infinite;
    content: "";
}

@keyframes carregando {
    100% {
        transform: translateX(100%);
    }
}

.produto:hover {
    background-color: var(--hover);
}

.produto .imagem,
.produto .informacoes .quantidade,
.produto .informacoes .quantidade-produto {
    display: flex;
    align-items: center;
    justify-content: center;
}


.produto .imagem {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.produto .imagem img {
    height: 100px;
    border-radius: 2px;
}

.produto .informacoes .titulo {
    margin-left: 10px;
    width: 100%;
    font-size: 18px;
    height: 22px;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
    font-weight: 500;
}

.produto .informacoes .descricao {
    margin-left: 10px;
    font-size: 12px;
    height: 47px;
    padding-right: 10px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}

.produto .informacoes .quantidade {
    margin: 5px;
    border-radius: 3px;
}

.produto .informacoes .quantidade-produto {
    display: flex;
    justify-content: end;
    height: 22px;
    margin-right: 10px;
}

.rodape {
    height: 40px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rodape .paginacao {
    height: 100%;
    width: 250px;
    border-radius: 3px;
}

.rodape .paginacao dl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodape .paginacao dl dd {
    width: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    cursor: pointer;
}

.rodape .paginacao dl dd:hover {
    background-color: var(--cinzaclaro3);
}

.rodape .paginacao dl .atual {
    background-color: var(--azul);
    color: var(--branco);
}

.rodape .paginacao dl .atual:hover {
    background-color: var(--azulclaro);
}

@media(max-width: 1430px) {
    .produto {
        width: 24.46%;
    }
}

@media(max-width: 1385px) {
    .produto {
        width: 24.40%;
    }
}

@media(max-width: 1280px) {
    .produto {
        width: 33%;
    }
}

@media(max-width: 1280px) {
    .produto {
        width: 32.6%;
    }
}


@media(max-width: 1150px) {
    .produto {
        width: 49.3%;
    }
}

@media(max-width: 1131px) {
    .produto {
        width: 49.2%;
    }
}

@media(max-width: 1025px) {
    .produto {
        width: 49.1%;
    }
}

@media(max-width: 942px) {
    .produto {
        width: 49%;
    }
}

@media(max-width: 900px) {
    .produto {
        width: 100%;
    }

    .rodape {
        justify-content: center;
    }
}