<div class="produto" *ngFor="let item of  filter(); let i= index" (click)="link(item.codigo)">
    <div class="informacoes-produtos">
        <div class="informacoes">
            <div class="imagem">
                <img src="data:image/png;base64,{{item.imagem.dados}}" alt="">

            </div>
            <p class="titulo">{{item.nome}}</p>

            <p class="descricao">{{item.caracteristica}}</p>
            <div class="quantidade-produto">
                <div class="quantidade">{{item.quantidade}}</div>
                <p>Unidades</p>
            </div>
        </div>
    </div>
</div>

<div class="erro" *ngIf="tamanho == 0"><span>Não há produtos cadastrados.</span></div>
<div class="erro" *ngIf="retornoItem"><span>Nenhum produto encontrado.</span></div>