<div class="produto" *ngFor="let item of  filter(produtos)" (click)="link(item.CODIGO)">
    <div>
        <div class="informacoes">
            <div class="imagem">
                <img [src]="item.IMAGEM" alt="">
            </div>
            <p class="titulo">{{item.NOME}}</p>

            <p class="descricao">{{item.DETALHES}}</p>
            <div class="quantidade-produto">
                <div class="quantidade">{{item.QUANTIDADE}}</div>
                <p>Unidades</p>
            </div>
        </div>
    </div>
</div>

<div class="erro" *ngIf="tamanho == 0"><span>Não há produtos cadastrados.</span></div>
<div class="erro" *ngIf="retornoItem"><span>Nenhum produto encontrado.</span></div>