nav {
    width: 70px;
    height: 100%;
    background-color: var(--cinzaclaro3);
    padding-left: 5px;
    margin-top: 60px;
    position: fixed;
    transition: 0.2s;
}

span {
    transition: 0.2s;
}

nav dl .menu:hover {
    background-color: var(--cinzaclaro3) !important;
}

nav dl dd {
    width: 100%;
    height: 60px;
    font-size: 14px;
    color: var(--cinza);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--cinza);
    cursor: pointer;
}

nav dl dd:hover {
    background-color: var(--hover);
}

nav dl a {
    text-decoration: none;
    color: var(--cinzaclaro1);
}

nav dl .atual {
    box-shadow: -5px 0px 0 var(--azul);
    color: var(--cinzaclaro1);
    font-weight: 700;
}

nav dl .atual .material-symbols-outlined {
    color: var(--azul);
}

nav dl .atual span {
    color: var(--azul);
}

nav dl .material-symbols-outlined {
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
}

nav dl .rodape {
    width: 100%;
    position: sticky;
    bottom: 0;
}

nav dl .rodape dd {
    border-bottom: 0;
}

nav .dark .botao {
    position: absolute;
    width: 65px;
    height: 55px;
}

nav .dark .botao input {
    opacity: 0;
    width: 0;
    height: 0;
}

nav .dark .bola {
    border-radius: 0px;
    height: 60px;
    width: 70px;
    margin-left: -60px;
    margin-top: -18px;
    background-color: transparent;
}

nav .dark .bola:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
}

nav .dark input:checked+.bola {
    background-color: var(--cinzaclaro2);
}

nav .dark input:checked+.bola:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.navaberto {
    width: 210px !important;
}

.bolaaberto {
    border-radius: 20px !important;
    position: absolute;
    cursor: pointer;
    margin-top: -2px !important;
    margin-left: 15px !important;
    width: 52px !important;
    height: 25px !important;
    background-color: var(--cinzaclaro2) !important;
    -webkit-transition: .4s;
    transition: .4s;
}

.bolaaberto:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.titulo {
    font-size: 0px;
}

.tituloaberto {
    font-size: 14px !important;
}

.iconesaberto {
    margin-left: 00px;
}

.botaoaberto {
    position: relative !important;
    display: inline-block !important;
    width: 52px !important;
    height: 25px !important;
}

@media(max-width: 750px) {
    nav .dark .bola {
        border-radius: 0px;
        height: 60px;
        width: 70px;
        margin-left: -60px;
        margin-top: -18px;
        background-color: transparent !important;
    }
    nav .dark .bola:before {
        background-color: transparent !important;
    }
    nav {
        width: 70px !important;
    }
    nav dl .rodape {
        width: 70px !important;
    }
    nav dl .titulo {
        font-size: 0;
    }
    nav dl .material-symbols-outlined {
        margin-left: 10px;
    }
    header .logo .senaiazul {
        height: 15px;
    }
    header .logo .almoxarifado {
        margin-left: 10px;
        padding-left: 10px;
    }
    header .logo .almoxarifado .icone {
        width: 20px;
    }
    header .navbar .nome {
        display: none;
    }
}

@media(max-height: 362px) {
    nav {
        display: none;
    }
}