<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>

    <app-alertas *ngIf="alerta" [alerta]="alertar"></app-alertas>

    <app-header></app-header>
    <app-nav></app-nav>

    <main>

        <div class="container">
            <div class="cabecalho">
                <div class="navegacao"><span>Almoxarifado / Cadastrar usuário</span></div>
            </div>

            <div class="corpo">

                <div class="cabecalho">
                    <div class="titulo"><span>Dados gerais do usuário</span></div>

                </div>

                <div class="informacoes">

                    <div class="informacoes-gerais">
                        <div class="inserir-imagem">
                            <span>Imagem</span>
                            <label for="imagem">
                                <input id="imagem" type="file" (change)="enviarImagem($event.target.files[0])">

                                <div class="imagem">

                                    <span class="material-symbols-outlined">
                                        add_photo_alternate
                                    </span>
                                </div>
                            </label>
                        </div>

                        <div class="informacoes-grid">
                            <div class="email">
                                <span>Email</span>
                                <input type="text" [(ngModel)]="email">
                            </div>

                            <div class="nome">
                                <span>Nome</span>
                                <input type="text" [(ngModel)]="nome">
                            </div>

                            <div class="informacoes-adicionais">
                                <div class="matricula">
                                    <span>Matricula</span>
                                    <input type="text" [(ngModel)]="matricula">
                                </div>

                                <div class="cargo">
                                    <span>Cargo</span>
                                    <select name="select" (change)="mudarCargo($event)">
                                        <option value="Professor">Professor</option>
                                        <option value="Atendente 1">Atendente 1</option>
                                        <option value="Atendente 2">Atendente 2</option>
                                        <option value="Administrador">Administrador</option>
                                    </select>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="rodape">

                    <button (click)="cadastrarUsuario()">Cadastrar usuário</button>
                </div>

            </div>

        </div>
    </main>
</body>

</html>