.usuario {
    width: 100%;
    height: 140px;
    border: 1px solid var(--cinzaclaro2);
    margin-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usuario:hover {
    background-color: var(--hover);
}

.usuario .flex-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.usuario .usuario-imagem {
    width: 120px;
    min-width: 120px;
    border-radius: 120px;
    min-height: 120px;
}

a {
    text-decoration: none;
    color: black;
}

.usuario .titulo {
    margin: 0px 0px 5px 15px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    direction: ltr;
}

.usuario .matricula,
.usuario .cargo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 5px 15px;
}

.usuario .email {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    margin: 0px 0px 5px 15px;
}

.usuario .email,
.usuario .matricula,
.usuario .cargo {
    font-size: 14px;
    height: 24px;
}

.aprovacao .aceitar,
.aprovacao .recusar {
    width: 120px;
    height: 45px;
    margin: 6px;
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.aprovacao {
    width: 150px;
    display: grid;
}

.aprovado,
.reprovado {
    margin-right: 35px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
}

.aprovado p {
    color: var(--azul) !important;
}


.aprovacao .aceitar {
    background-color: var(--azul);
}

.aprovacao .aceitar:hover {
    background-color: var(--azulclaro);
}

.aprovacao .recusar {
    border: 1px solid var(--cinzaclaro2);
    background-color: var(--cinzaclaro3);
    color: var(--preto);
}


@media(max-width:620px) {
    .usuario .usuario-imagem {
        display: none;
    }


}