<div class="usuario" *ngFor="let usuario of usuarios">
  <div class="informacoes">
    <div class="titulo">Nome usuário

    </div>
    <div class="cargo">
      <span>Cargo: Professor</span>
    </div>

    <div class="matricula">
      <span>Matricula: 654635535476537</span>
    </div>
    <div class="email">
      <span>Email: professor@gmail.com</span>
    </div>

  </div>

  <div class="aprovacao">
    <button class="aceitar">Aceitar</button>
    <button class="recusar">Recusar</button>
  </div>
</div> 