<div class="produto" *ngFor="let item of  filter()" (click)="link(item.codigo)">
    <div class="flex">
        <div class="imagem">
            <img [src]="item.imagem" alt="">
        </div>
        <div class="informacoes">
            <p class="titulo">{{item.nome}}</p>
            <div class="quantidade-produto">
                <div class="quantidade">{{item.quantidade}}</div>
                <p>Unidades</p>
            </div>
        </div>


    </div>
</div>

<div class="erro" *ngIf="tamanho == 0"><span>Não há produtos cadastrados.</span></div>
<div class="erro" *ngIf="retornoItem"><span>Nenhum produto encontrado.</span></div>