<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
  <title>Visão Geral</title>
</head>

<body>
  <app-header></app-header>
  <app-nav></app-nav>

  <main>
    <div class="container">
      <div class="cabecalho">
        <div class="navegacao"><span>Almoxarifado / Reservas</span></div>

        <div class="pesquisa">

          <div class="input">
            <input type="text" placeholder="Pesquise aqui...">
            <span class="material-symbols-outlined">
              search
            </span>
          </div>

          <span class="material-symbols-outlined">
            filter_alt
          </span>

          <button>Inserir Reservas</button>

        </div>
      </div>

      <div class="corpo">
        <div class="minhasreservas">

          <a href="../detalhesreserva/index.html">
            <div class="reserva">
              <div class="titulo">Reserva Nº 1
                <div class="situacao">
                  <span class="material-symbols-outlined">
                    radio_button_checked
                  </span>
                </div>
              </div>
              <div class="pessoa"><span>Retirada por: </span> <span> - </span></div>

              <div class="horario">
                <div class="data"><span>Retirar em: </span><span>23/12/2022</span></div>
                 <span>às</span> 
                <div class="hora">18:00</div>
              </div>
              <div class="detalhes">
                <div class="reservafeita">
                  <div class="data"><span>Reserva feita em: </span><span>23/12/2022</span></div>
                  <span>às</span> 
                  <div class="hora">18:00</div>
                </div>


                <div class="verdetalhes"><span class="texto">Ver detalhes</span>
                  <div class="expandir">
                    <span class="material-symbols-outlined">
                      arrow_forward
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>

          <a href="../detalhesreserva/index.html">
            <div class="reserva">
              <div class="titulo">Reserva Nº 2
                <div class="situacao">
                  <span class="material-symbols-outlined">
                    radio_button_checked
                  </span>
                </div>
              </div>
              <div class="pessoa"><span>Retirada por: </span> <span> - </span></div>

              <div class="horario">
                <div class="data"><span>Retirar em: </span><span>23/12/2022</span></div>
                 <span>às</span> 
                <div class="hora">18:00</div>
              </div>
              <div class="detalhes">
                <div class="reservafeita">
                  <div class="data"><span>Reserva feita em: </span><span>23/12/2022</span></div>
                  <span>às</span> 
                  <div class="hora">18:00</div>
                </div>


                <div class="verdetalhes"><span class="texto">Ver detalhes</span>
                  <div class="expandir">
                    <span class="material-symbols-outlined">
                      arrow_forward
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </a>


          <div class="rodape">
            <div class="paginacao">
              <dl>
                <dd class="atual">1</dd>
                <dd>2</dd>
                <dd>3</dd>
                <dd>4</dd>
                <dd>
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>


</html>