<nav id="nav">
    <dl>
        <div>
            <dd class="menu" (click)="menu()">
                <span class="material-symbols-outlined">
                    menu
                    </span>
            </dd>
            <dd *ngFor="let item of usuario let i = index" class="{{item.atual}}">
                <a routerLink="{{item.link}}">
                    <span class="material-symbols-outlined">
                      {{item.icone}}
                  </span>
                    <span class="titulo">{{item.texto}}</span>
                </a>
            </dd>

            <div class="rodape">

                <dd class="dark">
                    <span class="material-symbols-outlined">
                  dark_mode
              </span>
                    <label class="botao">
                  <input id="mode" type="checkbox" (change)="darkmode($event)">
                  <span class="bola"></span>
              </label>
                </dd>

                <dd (click)="sair()">
                    <span class="material-symbols-outlined">
                      logout
                  </span>
                    <span class="titulo">Sair</span>
                </dd>
            </div>
        </div>
    </dl>
</nav>