<div class="fundo" *ngIf="situacao">
  <div class="modal">
    <div class="header">
      <span>Adicionar {{item}}</span>

      <div class="acoes">

        <p class="material-symbols-outlined" (click)="localizacao()">
          close
        </p>
      </div>

    </div>

    <div class="inputs">

      <input type="text" placeholder="Insira a {{item}}">

      <div class="setados">
        <span>
          P = PAREDE
        </span>

        <span>
          C = CENTRO
        </span>

        <span>
          A = ARMÁRIO
        </span>
      </div>


      <div class="botao">
        <button>Confirmar</button>
      </div>
    </div>
  </div>
</div>