main {
    height: 100%;
    padding-left: 70px;
    padding-top: 60px;
    z-index: 2;
}

main .container {
    height: 100%;
}

main .container .informacoes {
    display: flex;
}

main .container .fundo-perfil {
    height: 150px;
    background-color: var(--azul);
}

main .container .foto-perfil {
    margin-top: -50px;
    margin-left: 100px;
}

main .container .foto-perfil img {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

main .container .nome-perfil {
    font-size: 18px;
    font-weight: 600;
}

main .container .detalhes-nome {
    margin: 10px 0 0 10px;
    width: 100%;
    height: 40px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container .detalhes-nome .nome {
    display: flex;
    align-items: center;
}

main .container .detalhes-nome .material-symbols-outlined {
    margin-left: 5px;
    color: var(--azul);
}

main .container .detalhes-nome .editar {
    width: 43px;
    height: 43px;
    border: 1px solid var(--cinzaclaro2);
    background-color: var(--cinzaclaro3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .container .detalhes-nome .editar:hover span {
    background-color: var(--hover);
}

a {
    text-decoration: none;
}

main .container .detalhes-nome .editar .material-symbols-outlined {
    margin-left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cinza);
}

main .container .acoes {
    margin: 20px 100px 0px 100px;
    border-radius: 3px;
}

main .container .acoes .nav {
    box-sizing: border-box;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: var(--cinzaclaro3);
    border: 1px solid var(--cinzaclaro2);
}

main .container .acoes .nav dl {
    height: 100%;
    display: flex;
    align-items: center;
}

main .container .acoes .nav dd {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
}

main .container .acoes .nav dd:hover {
    background-color: #c4c4c423;
    border-bottom: 3px solid var(--azul);
}


.corpo {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-radius: 3px;
    border: 1px solid var(--cinzaclaro2);
    display: flex;
}

.imagem {
    width: 150px;
    height: 150px;
    margin: 15px;
    margin-top: 25px;
    background-color: var(--azul);
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.imagem:hover {
    background-color: var(--azulclaro);
}

input {
    height: 25px;
    padding: 8px;
    border: 1px solid var(--cinzaclaro2);
    border-radius: 3px;
    outline: none;
    width: 100%;
}

.navegacao {
    font-size: 14px;
}

.titulo {
    margin: 15px;
}

.inputs {
    margin-top: 35px;
    margin-left: 15px;
    margin-right: 35px;
    width: 100%;
}

.nome,
.email,
.senha {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.botao {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-left: 17px;
}

button {
    width: 165px;
    height: 45px;
    background-color: var(--azul);
    border: none;
    color: var(--branco);
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

@media(max-width: 750px) {
    main {
        padding-left: 0px;
    }
    main .container .rodape button {
        width: 100%;
    }
    main .container .foto-perfil {
        margin-left: 20px;
    }
    main .container {
        margin-left: 70px;
    }
    main .container .acoes {
        margin: 20px 30px 0px 30px;
    }
    main .container .acoes .nav dd {
        font-size: 13px;
    }
}