<!DOCTYPE html>
<html lang="en">

<head>
    <title>Visão Geral</title>
</head>

<body>
    <app-header></app-header>
    <app-nav></app-nav>

    <main>
        <div class="container">
            <div class="fundo-perfil"></div>
            <div class="informacoes">


                <div class="foto-perfil">
                    <img [src]="imagem" alt="">
                </div>
                <div class="detalhes-nome">
                    <div class="nome">
                        <p class="nome-perfil">{{nomeSobrenome}}</p>
                        <span class="material-symbols-outlined">verified</span>
                    </div>
                    <a routerLink="/usuario/editar">
                        <div class="editar">
                            <span class="material-symbols-outlined">
                                settings
                            </span>
                        </div>
                    </a>

                </div>
            </div>

            <div class="acoes">
                <div class="navegacao">
                </div>
                <div class="corpo">

                    <div class="inputs">
                        <div class="nome">
                            <span>Nome</span>
                            <input type="text" placeholder="Professor">
                        </div>

                        <div class="email">
                            <span>Email</span>
                            <input type="text" placeholder="professor@edu.org.br">
                        </div>

                        <div class="senha">
                            <span>Senha</span>
                            <input type="password" placeholder="123">
                        </div>

                        <div class="botao">
                            <button>Salvar Alterações</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </main>
</body>

</html>