<!DOCTYPE html>
<html lang="en">

<head>
  <title>Visão Geral</title>
</head>

<body>
  <app-header></app-header>
  <app-nav></app-nav>

  <main>
    <div class="container">
      <div class="fundo-perfil"></div>
      <div class="informacoes">


        <div class="foto-perfil">
          <img src="https://avatars.githubusercontent.com/u/92130250?v=4" alt="">
        </div>
        <div class="detalhes-nome">
          <p class="nome-perfil">{{nomeSobrenome}}</p>
          <span class="material-symbols-outlined">
            verified
          </span>
        </div>
      </div>

      <div class="acoes">
        <div class="nav">
          <dl>
            <dd class="atual">Reservas realizadas</dd>
            <dd>Reservas abertas</dd>
            <dd>Reservas canceladas</dd>
          </dl>
        </div>
      </div>
    </div>
  </main>



</body>

</html>