
.input input {
    width: 100%;
    height: 25px;
    padding: 8px 15px;
    border: 1px solid var(--cinzaclaro2);
    outline: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input.ativo input {
    border-radius: 5px 5px 0 0;
}

.put{
    display: flex;
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    position: relative;
    margin-left: -35px;
}